:root {
    --sizeTower: 50px;
    --basicSize: 25px;
    --progress: 1;
    --greenZoneColor: #D1FFBD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    position: relative;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.349);


    #tower {
        position: absolute;
        width: var(--sizeTower);
        height: var(--sizeTower);
        background-color: wheat;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
    }

    .ennemy {
        position: absolute;
        transform: matrix(1, 0, 0, 1, -50%, -50%);
        background-color: rgb(255, 105, 105);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .basic {
        width: var(--basicSize);
        height: var(--basicSize);
    }

    .miniBoss {
        background-color: lightskyblue;
        width: calc(1.25 * var(--basicSize));
        height: calc(1.25 * var(--basicSize));
    }

    .boss {
        background-color: lightgreen;
        width: calc(1.4 * var(--basicSize));
        height: calc(1.4 * var(--basicSize));
    }

    .bullet {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        background-color: black;
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &.child {
            background-color: gray;
        }
    }

    #displayUpgradeChosingScreen {
        position: absolute;
        justify-self: center;
        z-index: 10;
        justify-content: space-evenly;
        align-items: center;

        display: flex;
        width: 90%;
        height: 90%;

        div {
            padding: 1svw;
            border: solid 1px rgb(158, 158, 158);
            height: 60%;
            flex: 1;
            margin: 1svw;
            display: flex;
            flex-direction: column;
            gap: 1svh;
            backdrop-filter: blur(2px);

            &:hover {
                background-color: rgba(211, 211, 211, 0.185);
            }

            .desc {
                font-style: italic;
            }
        }
    }

    #gameOverScreen {
        align-self: center;
        justify-self: center;
        position: absolute;
        width: 90%;
        height: 95%;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 2svh;

        div {
            display: flex;
            justify-content: center;
        }

        div:nth-child(1) {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        #body {
            flex: 10;
            display: flex;
            flex-wrap: wrap;
            gap: 1svw;

            div {
                position: relative;
                width: 210px;
                height: 18svw;
                min-width: 150px;
                max-width: 11svw;
                border: solid gray 1px;
                padding: 1svw;
                display: flex;
                justify-content: flex-start;
                gap: 1svw;
                flex-direction: column;
                font-size: 1.1svw;

                &.partyUpgrade {
                    border: black 2px solid;
                }

                &:hover {
                    background-color: rgba(211, 211, 211, 0.267);
                }

                .price {
                    align-self: center;
                    position: absolute;
                    bottom: 0px;
                }

                .desc {
                    font-style: italic;
                }
            }
        }

        div:nth-child(3) {
            flex: 1;

            button {
                padding: 1svw 1svh;
                font-size: 2svh;
                border: solid gray 1px;
                background-color: #D1FFBD;

                &:hover {
                    background-color: #b4f798;
                }
            }
        }
    }

    #helpDiv {
        position: absolute;
        top: 1svw;
        left: 1svw;

        p {
            color: gray;
        }
    }

}

.hide {
    display: none !important;
}




#O {
    position: absolute;
    z-index: 10;
    font-size: 40px;
}



@media only screen and (max-width: 1000px) {
    #body {
        div {
            font-size: 1.2svw !important;
        }
    }
    #displayUpgradeChosingScreen {
        flex-direction: column;
        height: 60% !important;
        align-self: center;
        div{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 800px) {
    #body {
        div {
            font-size: 1.5svw !important;
        }
    }
}
@media only screen and (max-width: 600px) {
    #body {
        div {
            height: 25svw !important;
            font-size:2svw !important;
        }
    }
}

















/* SHAKE */
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.shake {
    animation: shake 0.15s linear infinite;
}

/* xpBar */
.circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
    align-self: center;
    justify-self: center;
}

.circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
}

.circular-progress circle.bg {
    stroke: #f4f4f4;
}

.circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: var(--greenZoneColor);
}

/* no scrolls */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}